.home-container {
  height: 100vh;
  width: 100vw;
  background-image: url("../../images/showcase.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.title {
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 3.8rem;
  animation: slide-up 1s ease;
}

.home {
  width: 300px;
}

@keyframes slide-up {
  100% {
    transform: translateY(0px);
    opacity: 1;
  }

  0% {
    transform: translateY(50px);
    opacity: 0;
  }
}