.authentication {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: relative; */
}

.authentication .header {
  position: absolute;
  top: 143px;
  border: 2px solid black;
  border-bottom: none;
  height: 70px;
  width: 350px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  font-size: 2rem;
  font-family: var(--default-font);
  cursor: pointer;
  z-index: 1;
}

.authentication .signup-header-button {
  left: 400px;
  background-color: var(--secondary-color);
  color: white;
}

.authentication .login-header-button {
  right: 400px;
  background-color: white;
}

.auth-container {
  height: 500px;
  width: 700px;
  border-radius: 10px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  position: relative;
  border: 2px solid black;
}

.form {
  height: 100%;
  width: 100%;
}

.form .heading {
  font-size: 2.5rem;
  text-align: center;
}

.form .input-fields {
  position: absolute;
  top: 150px;
  left: 60px;
  width: 100%;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.form .input-fields .sub-heading {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.2rem;
}

.form .input-fields .input {
  width: 80%;
  padding: 0.5rem;
  font-size: 1.1rem;
  font-family: var(--default-font);
  border-radius: 10px;
  border: 2px solid black;
}

.form .password-field {
  position: absolute;
  top: 250px;
}

.form .error {
  color: red;
  font-weight: bold;
}

.form .submit-button {
  width: 60%;
  position: absolute;
  bottom: 30px;
  left: 140px;
  padding: 1rem;
  border-radius: 10px;
  background-color: var(--secondary-color);
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}
