:root {
  --primary-color: rgb(27, 26, 26);
  --primary-color-light: rgb(44, 44, 44);
  --secondary-color: rgb(14, 14, 14);
  --input-background-color: lightgray;
  --default-font: "Segoe UI", sans-serif;
  --list-item-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

* {
  font-family: var(--default-font);
}

body {
  margin: 0;
}

::-webkit-scrollbar {
  width: 0;
}
